---
import { Image } from "astro:assets";
import LayoutMaterial from "../../layouts/LayoutMaterial.astro";
import capa from "../../data/capas/fluencia-em-dados.png";
---

<LayoutMaterial>
  <div class="md:flex items-start">
    <Image
      src={capa}
      alt="TI Facilitada"
      width={300}
      height={500}
      class="p-0 mr-10"
    />

    <div class="mb-10">
      <h1 class="text-4xl font-extrabold my-5 md:my-0">
        Fluência em Dados - PRÉ VENDA
      </h1>
      <p class="text-3xl font-bold mt-5">R$ 67</p>
      <p class="mb-5">Promoção de Lançamento - Tempo Limitado!</p>

      <div>
        <p class="my-5">
          <a
            class="btn btn-success btn-xl"
            href="https://seguro.tifacilitada.com/r/RYD31W55B2">Comprar agora</a
          >
        </p>
      </div>

      <div
        class="my-10 [&_li]:bg-primary/10 [&_li]:border-2 [&_li]:border-primary/20 [&_li]:px-4 [&_li]:py-2 [&_li]:my-2 [&_li]:rounded-2xl [&_li]:inline-block"
      >
        <p class="my-10">
          Resumos esquematizados e com linguagem simples. Focados nos concursos
          mais recentes da <span class="font-bold">Área Fiscal e Controle</span>
          como Sefaz, TCE, TCM, CGU, TCU e Outros.
        </p>
        <p class="my-10">
          Cada aula inclui resumo em PDF esquematizado e simplificado + cadernos
          de questões do TEC Concursos para treinamento e aprofundamento.
        </p>

        <p class="my-10 font-bold text-2xl">Aulas Disponíveis</p>
        <div
          tabindex="0"
          class="collapse collapse-open collapse-plus bg-base-100 mb-5"
        >
          <div class="collapse-title font-semibold">Banco de Dados</div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Fundamentos de Banco de Dados</li>
              <li>Índices</li>
              <li>Views</li>
              <li>Procedures</li>
              <li>Bancos relacionais e não relacionais</li>
            </ul>
          </div>
        </div>
        <div
          tabindex="0"
          class="collapse collapse-open collapse-plus bg-base-100 mb-5"
        >
          <div class="collapse-title font-semibold">SQL</div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Comando Select</li>
              <li>Comandos de Definição</li>
              <li>Comandos de Manipulação</li>
              <li>Comandos de Controle</li>
              <li>Comandos de Transação</li>
              <li>Agrupamento</li>
              <li>Relacionamentos</li>
            </ul>
          </div>
        </div>
        <div
          tabindex="0"
          class="collapse collapse-open collapse-plus bg-base-100 mb-5"
        >
          <div class="collapse-title font-semibold">Mineração de Dados</div>
          <div class="collapse-content text-sm">
            <ul>
              <li>KDD</li>
              <li>Crisp-DM</li>
              <li>Técnicas descritivas e preditivas</li>
              <li>Classificação</li>
              <li>Regressão</li>
              <li>Associação</li>
              <li>Clusterização</li>
              <li>Mineração de Texto</li>
            </ul>
          </div>
        </div>
        <p class="my-10 font-bold text-2xl">Em breve</p>
        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Gestão da Informação (previsão 03/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Dados, Informação, Conhecimento</li>
              <li>Dados Estruturados</li>
              <li>Dados Semiestruturados</li>
              <li>Dados Não Estruturados</li>
              <li>Dados Abertos</li>
              <li>Metadados</li>
            </ul>
          </div>
        </div>

        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Modelagem Relacional (previsão 08/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Álgebra Relacional</li>
              <li>Entidades</li>
              <li>Relacionamentos</li>
              <li>Cardinalidade</li>
              <li>Modelos ER</li>
            </ul>
          </div>
        </div>
        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Modelagem Multidimensional e BI (previsão 12/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>OLAP</li>
              <li>Data Warehouse</li>
              <li>Data Mart</li>
              <li>Business Intelligence</li>
            </ul>
          </div>
        </div>
        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Big Data (previsão 16/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Os Vs do Big Data</li>
              <li>Ferramentas de Big Data</li>
              <li>Data Lake</li>
              <li>Pipeline de Big Data</li>
              <li>MapReduce</li>
              <li>Apache Spark</li>
              <li>Apache Hadoop</li>
            </ul>
          </div>
        </div>

        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Governança de Dados (previsão 22/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Framework Dama DMBOK</li>
              <li>Governança de TI</li>
              <li>Governança de Dados</li>
              <li>Equipe de Dados</li>
              <li>Ciclo de Vida de Dados</li>
            </ul>
          </div>
        </div>
        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            Machine Learning (previsão 29/09)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Algoritmos Supervisionados</li>
              <li>Algoritmos Não Supervisionados</li>
              <li>Reforço</li>
              <li>Deep Learning</li>
              <li>Etapas de Machine Learning</li>
              <li>Métricas de resultado</li>
              <li>Matriz de Confusão</li>
            </ul>
          </div>
        </div>
        <p class="my-10 font-bold text-2xl">Bônus Exclusivo Pré Venda</p>

        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            [Bônus] Python (previsão 06/10)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>Python para Concursos</li>
            </ul>
          </div>
        </div>
        <div tabindex="0" class="collapse collapse-plus bg-base-100 mb-5">
          <div class="collapse-title font-semibold">
            [Bônus] R (previsão 13/10)
          </div>
          <div class="collapse-content text-sm">
            <ul>
              <li>R para Concursos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutMaterial>
