---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>TI Facilitada - Resumos de TI para concursos</title>
  </head>
  <body class="font-garet">
    <slot />
    <div class="py-20 bg-[#260e52] text-white">
      <div class="lg:w-[1024px] mx-auto md:flex justify-between">
        <div class="[&_a]:underline underline-offset-6 [&_a]:mr-5">
          <a href="https://instagram.com/tifacilitada">Instagram</a>
          <a href="#faq">FAQ</a>
          <a href="#materiais">Materiais</a>
          <a href="mailto:contato@tifacilitada.com">Contato</a>
        </div>
        <p>
          TI Facilitada - Resumos de TI para concursos - Todos os Direitos
          Reservados
        </p>
      </div>
    </div>
  </body>
</html>
